THREELOGIC_API_BASE_URL=https://oapi.3logic.ru
THREELOGIC_LOGIN=your_login
THREELOGIC_PASSWORD=your_password
THREELOGIC_TOKEN_CACHE=.3logic_tokens.json
SOAP_PATH=/ws/InterfaceVersion
SOAP_BASIC_USER=
SOAP_BASIC_PASSWORD=
